@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Big Shoulders Display', cursive;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.container {
  background-color: linen; 
  height: 100vh;
  width: 100%;
  color:#eae5ef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  height: 52rem;
  width: 45rem;
  background-color: rgb(147, 141, 141); 
  box-shadow: 0 0.5rem 0.3rem rgba(0, 0, 0, 0.4);
}

.month {
  background-color: #663399; 
  height: 12rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.9rem;
}

.weekdays {
  height: 5rem;
  width: 100%;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  width: calc(44.2rem / 7);
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 2rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.days div:hover:not(.today) {
  background-color: #262626;
  border: 0.2rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #663399
}
 